@model WorkManagement.Models.Shared.SessionHelper;
@{
    ViewData["Title"] = "עמוד הבית";
    var sessionUser = Model;
}

@if (sessionUser == null)
{
    <div class="text-center">
        <h1 class="display-4">ברוכים הבאים לאתר</h1>
        <h1 class="display-4" style="font-weight: bold;">ניהול עבודה</h1>
    </div>
}