@model WorkManagement.Models.Shared.SessionHelper;
@using WorkManagement.Models.Shared;
@{
    ViewData["Title"] = "הוספת משתמש";
    var sessionUser = Model;
}

<div style="position: absolute;">
    @if (sessionUser.IsAdmin)
    {
        <h3>הוספת משתמש</h3>

        <table>
            <tr>
                <td>
                    <div class="align-right">
                        <input id="phoneNumber" type="text" class="numbers-only form-validation" />
                        <span>מספר טלפון</span>
                        <span style="color: red;">(*)</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="align-right">
                        <input id="firstName" type="text" class="form-validation" />
                        <span>שם םרטי</span>
                        <span style="color: red;">(*)</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="align-right">
                        <input id="lastName" type="text" class="form-validation" />
                        <span>שם משפחה</span>
                        <span style="color: red;">(*)</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="align-right">
                        <span style="color: red;">* - שדה חובה</span>
                    </div>
                </td>
            </tr>
        </table>
        <div>
            <input type="button"
                   value="צור משתמש"
                   id="insertUserButton"
                   class="btn-primary"
                   disabled style="background-color: grey; border-color: grey;" />
            <div id="insertUserError" style="color: red; font-size: 14px; min-height: 10px; visibility: hidden;"></div>
        </div>
        <h4 id="insertUserSuccessMessage" style="color: green; visibility: hidden;">יצירת משתמש הסתיימה בהצלחה. מזהה משתמש הוא: </h4>
    }
    else
    {
        <h3 style="color: red;">אין לך הרשאות לעמוד הזה</h3>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#insertUserButton").on("click", function () {
            var phoneNumber = $("#phoneNumber").val();
            var firstName = $("#firstName").val();
            var lastName = $("#lastName").val();
            var insertUserError = $("#insertUserError");
            var insertUserSuccessMessage = $("#insertUserSuccessMessage");

            $(insertUserError).css("visibility", "hidden");
            $(insertUserSuccessMessage).css("visibility", "hidden");

            if (phoneNumber != "" && firstName != "" && lastName != "") {
                $.ajax({
                    url: "@string.Format("{0}{1}", DomainHelper.BaseDomainUrl, Url.Action("InsertUser", "Users"))",
                    type: "post",
                    data: {
                        phoneNumber: phoneNumber,
                        firstName: firstName,
                        lastName: lastName
                    },
                    success: function (result) {
                        if (result.data != null) {
                            if (result.errorDesc != null && result.errorDesc != "") {
                                $(insertUserError).text(result.errorDesc);
                                $(insertUserError).css("visibility", "visible");
                            }
                            else if (result.data > 0) {
                                $(insertUserSuccessMessage).text($(insertUserSuccessMessage).text() + result.data);
                                $(insertUserSuccessMessage).css("visibility", "visible");
                            }
                        }
                        else if (result.errorDesc != null && result.errorDesc != "") {
                            $(insertUserError).text(result.errorDesc);
                            $(insertUserError).css("visibility", "visible");
                        }
                    }
                });
            }
        });

        $(".form-validation").on("input", function () {
            if ($("#phoneNumber").val() != "" && $("#firstName").val() != "" && $("#lastName").val() != "") {
                $("#insertUserButton").prop("disabled", false);
                $("#insertUserButton").css("background-color", "#007bff");
                $("#insertUserButton").css("border-color", "#007bff");
            }
            else {
                $("#insertUserButton").prop("disabled", true);
                $("#insertUserButton").css("background-color", "grey");
                $("#insertUserButton").css("border-color", "grey");
            }
        });
    });
</script>
